html {
  margin:0; 
  padding:0; 
}

body {
  margin:3rem;
  padding:0.3%;
  background-color: #FFFAF1;
}


header {
  text-align: center;
}

a{
  text-decoration: none;
}

.content {
  display: block;
  float: inline-start;
}

.content li {
  position:sticky;
  list-style: none;
}

.latin {
  display: relative;
  background-color: black;
  text-align: center;
}

.latin li a {
  color:wheat;
  font-size: 35px;
}

.center{
  text-align: center;
}

.others {
  display: relative;
  background-color: black;
  text-align: center;
}

.others li a {
  font-size:35px;
  color:wheat;
}

.center {
  font-size:32px; 
}

.textbox {
  text-align: justify;
  font-size: 34px;
  margin:5rem;
}

table {
  text-align: center;
  margin-left: 35%;
}

table th tr td {
  text-align: center;
  justify-content: space-between;
}

footer span{
	display: inline;
  color:white;
}

footer a {
  color:cyan;
}

footer  p{
  color:white;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	text-decoration: none;
        background-color:black;
}
