html {
  margin:0; 
  padding:0; 
}

body {
  margin:3rem;
  padding:0.3%;
  background-color: #FFFAF1;
}


header {
  text-align: center;
}

a{
  text-decoration: none;
}

.content {
  float:inline-start;
  display: block;
}

.content li {
  list-style: none;
  position:sticky;
}

.latin {
  display: relative;
  background-color: black;
  text-align: center;
}

.latin li a {
  color:wheat;
  font-size: 18px;
}

.others {
  display: relative;
  background-color: black;
  text-align: center;
}

.others li a {
  font-size:18px;
  color:wheat;
}

.textbox {
  margin-left: 10rem;
  text-align: justify;
  font-size: 34px;
}

footer span{
	display: inline;
        color:white;
}

footer a {
  color:cyan;
}

footer  p{
  color:white;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	text-decoration: none;
        background-color:black;
}
