header {
  text-align: center;
  padding:0.5%;
}

a{
  text-decoration: none;
}

.content {
  margin:2rem;
  text-align: center;
}

.content li {
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  padding: 0.5em;
  list-style: none;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
footer span{
	display: inline;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	text-decoration: none;
}
