.titulo {
  text-align: center;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

blockquote {
  background-color: darkgray;
  color:white;
  padding: 0.2rem;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  text-align: center;
}

.express {
  text-align: center;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
}

footer{
  margin-top: 5%;
}
