.titulo {
  text-align: center;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

blockquote {
  background-color: darkgray;
  color:whitesmoke;
  padding: 0.1rem;
  font-size: calc(0.7vw + 0.5vh + 0.2vmin);
  text-align: center;
}

ul {
  text-align: center;

}

.express {
  text-align: center;
}

.content p {
  font-size: calc(1vw + 0.5vh + 0.2vmin);
}

footer{
  margin-top: 5%;
}
