header {
  font-size: calc(2vw + 0.5vh + 0.2vmin);
  text-align: center;
}

.content {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
}

.content p {
  font-size: calc(1vw + 0.5vh + 0.2vmin);
}

a{
  text-decoration: none;
}

footer {
  margin-top: 5%;
  text-align:center;
}
