header {
  text-align: center;
  font-size: calc(2vw + 0.5vh + 0.2vmin);
}

a{
  text-decoration: none;
}

.content {
  margin: 2rem;
  text-align: justify;
}

.content p {
  font-size: calc(1vw + 0.5vh + 0.2vmin);
}

footer {
  margin-top: 5%;
  margin-left: 3%;
}
